In [3]:
from sqlalchemy import create_engine
import pandas as pd
from config import user, password

In [5]:
# Import the SQL database into Pandas. 
engine = create_engine(f'postgresql://{user}:{password}@localhost:5432/employee_hw')
connection = engine.connect()

data = pd.read_sql("SELECT * FROM departments", connection)

In [6]:
data.head()

  dept_no        dept_name
0    d001        Marketing
1    d002          Finance
2    d003  Human Resources
3    d004       Production
4    d005      Development